
@media screen and (max-width: 479px) {
    .container{
        width: auto;
        padding: 0 2%;
    }

    header{
        width: auto;
        height: auto;
    }
    .menu{
        display: none;
    }
    .left .logo{
width: 70px;
    }
    
    .center .search{
        width: 60%;
        padding: 2px;
    }

    .search input{
        font-size: 14px;
    }

    .center img{
        display: none;
    }

    .right img{
        display: none;
    }

    .right .u-login{
        display: block;
    }

   .right  .u-login {
        width: 30px;
    }

    /* ------sidebar---- */

    .hero-cont{
        padding-top: 20px ;
    }

    .sidebar{
        display: none;
    }

    .large-container{
        width: auto;
    }

    .video-container{
        display: block;
        padding-top: 20px;
    }

    .video-card{
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }

}
